@model QuanLyDienThoaiEntity.Models.ACCOUNT

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Login_RegisterLayout.cshtml";
}

    <h2 style="text-align-last:center">Đăng nhập tài khoản</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="padding-left: 256px">
                @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="padding-left: 256px">
                @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="padding-left: 256px">
                @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.RememberMe)
                        @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding-left: 256px">
                <div class="col-md-offset-2 col-md-1">
                    <input type="submit" value="Đăng nhập" class="btn btn-success" />
                </div>
                <div class="col-md-3" style="margin-top:7px; padding-left: 50px">
                    @Html.ActionLink("Quên mật khẩu", "ForgotPassword", "ACCOUNTs", new { @class = "my-class"})
                </div>
            </div>
        </div>
    }